@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  /* base styles */
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 3px solid #030303;
}
.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: 1px;
}
.navbar a {
  margin-left: 8px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(236, 236, 236);
}
